#!/bin/sh

[ -f ~/.profileutil ] && . ~/.profileutil

[ -f ~/.zshenv ] && . ~/.zshenv
[ -f ~/.zprofile ] && . ~/.zprofile

#xrandr --output DVI-I-2 --right-of DVI-I-3

runif Linux runonce start-pulseaudio-x11 & #runif Linux runonce pulseaudio --start &
runif Linux runonce mpd ~/.mpd/mpd.conf
runif Linux runonce mpc stop &
runif Linux runonce mpdscribble --conf ~/.mpdscribble/mpdscribble.conf &
runif Linux runonce dropboxd &
runif Linux runonce gtk-redshift -l 33.21:-87.55 -t 5500:3700 -m vidmode &
runif Linux runonce workrave &
runif Linux runonce clipit &
runif Linux runonce parcellite &
runif Linux runonce xset m 0 0 &
runif Linux runonce xset r rate 200 40 &
runif Linux runonce wmname LG3D &

if [ -e ~/.fehbg ] ; then
    runif Linux sh ~/.fehbg
fi


#runif Linux runonce xmodmap ~/.Xmodmap
#runif Linux runonce xrdb -merge ~/.Xresources
