#!/bin/sh

[ -f ~/.profileutil ] && . ~/.profileutil
[ -f ~/.fehbg ] && sh ~/.fehbg
[ -f ~/.Xmodmap ] && [ "$(hostname)" == "aquarius" ] && xmodmap ~/.Xmodmap

runif Linux runonce start-pulseaudio-x11 &
runif Linux runonce mpd ~/.mpd/mpd.conf && mpc stop &
runif Linux runonce mpdscribble --conf ~/.mpdscribble/mpdscribble.conf &
runif Linux runonce dropboxd &
runif Linux runonce clipit &
runif Linux runonce wmname LG3D &
runif Linux runonce xflux -z 35401

runif Linux xset m 1 0 &
runif Linux xset r rate 200 40 &

function sens(){
    for each in `xinput --list | grep -E 'Razer' | grep -E 'pointer' | sed -e 's/^.*id=//g' -e 's/\t.*$//g'`; do
        propid=`xinput list-props $each | grep 'Device Accel Constant Deceleration' | sed -r 's/.*\(([0-9]+)\).*$/\1/g'`
        xinput --set-prop $each $propid 5
    done
}
runif Linux sens

