URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C
!URxvt*termName: rxvt-unicode-256color
!URxvt*termName: rxvt-unicode
!
!
URxvt.iconFile:    /usr/share/icons/gnome/scalable/apps/utilities-terminal-symbolic.svg

URxvt*borderless: 1
URxvt.buffered: true
URxvt.underlineColor: yellow
URxvt.transparent: true
URxvt.shading: 10

!URxvt.font: xft:Terminus:pixelsize=15, xft:Terminus (TTF) for Powerline:pixelsize=15, xft:Lohit Kannada:pixelsize=15, xft:unifont:pixelsize=15
!URxvt.boldFont: xft:Terminus:Bold:pixelsize=15, xft:Terminus (TTF) for Powerline:BoldForPowerline:pixelsize=15, xft:Lohit Kannada:Bold:pixelsize=15, xft:unifont:pixelsize=15

URxvt.letterSpace: -1
!URxvt.lineSpace: 0

! Yep.

URxvt*font:                 xft:Menlo for Powerline:style=RegularForPowerline:size=10, xft:unifont:size=10
URxvt*imFont:               xft:Menlo for Powerline:style=:RegularForPowerline:size=10, xft:unifont:size=10
URxvt*boldFont:             xft:Menlo for Powerline:style=BoldForPowerline:size=10, xft:unifont:size=10
URxvt*italicFont:           xft:Menlo for Powerline:style=ItalicForPowerline:size=10, xft:unifont:size=10
URxvt*boldItalicFont:       xft:Menlo for Powerline:style=Bold Italic:size=10, xft:unifont:size=10


!Plugin stuff
URxvt*urlLauncher:chromium
URxvt.perl-ext-common:default,matcher,clipboard,-option-popup,-selection-popup,-readline
URxvt.matcher.button:1

URxvt.tabbed.autohide:  yes
URxvt.tabbed.new-button:  no

URxvt*scrollBar: false
URxvt*saveLines: 10000
URxvt*secondaryScroll: true
URxvt*scrollTtyKeypress:true
URxvt*scrollTtyOutput:false
URxvt*scrollWithBuffer:false

URxvt*cursorBlink: true
URxvt*cursorColor: #FFAF00

! Molokai theme
URxvt*background: #101010
URxvt*foreground: #d0d0d0
!URxvt*cursorColor: #8000BA
URxvt*color0: #101010
URxvt*color1: #960050
URxvt*color2: #66aa11
URxvt*color3: #c47f2c
URxvt*color4: #30309b
URxvt*color5: #7e40a5
!URxvt*color6: #3579a8 
URxvt*color6: #89b6e2
URxvt*color7: #9999aa
URxvt*color8: #303030
URxvt*color9: #ff0090
URxvt*color10: #80ff00
URxvt*color11: #ffba68
URxvt*color12: #5f5fee
URxvt*color13: #bb88dd
URxvt*color14: #4eb4fa
URxvt*color15: #d0d0d0
