[submodule "dots/.vim/bundle/vim-pathogen"]
	path = dots/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "dots/.vim/bundle/vim-fugitive"]
	path = dots/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dots/.vim/bundle/molokai"]
	path = dots/.vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "dots/.vim/bundle/rainbow_parentheses"]
	path = dots/.vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "dots/.vim/bundle/nerdtree"]
	path = dots/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dots/.vim/bundle/vim-gitgutter"]
	path = dots/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "dots/.vim/bundle/vim-airline"]
	path = dots/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "dots/.oh-my-zsh"]
	path = dots/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "dots/.autoenv"]
	path = dots/.autoenv
	url = git://github.com/kennethreitz/autoenv.git
[submodule "dots/.vim/bundle/ctrlp.vim"]
	path = dots/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dots/.vim/bundle/vim-localvimrc"]
	path = dots/.vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "dots/.vim/bundle/vim-virutalenv"]
	path = dots/.vim/bundle/vim-virutalenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "dots/.vim/bundle/summerfruit256.vim"]
	path = dots/.vim/bundle/summerfruit256.vim
	url = git://github.com/cscorley/summerfruit256.vim.git
[submodule "dots/.vim/bundle/tmuxline.vim"]
	path = dots/.vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "dots/.vim/bundle/vim-pandoc"]
	path = dots/.vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "dots/.vim/bundle/vim-pandoc-syntax"]
	path = dots/.vim/bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "dots/.vim/bundle/python-mode"]
	path = dots/.vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
