[submodule "dots/.vim/bundle/vim-pathogen"]
	path = dots/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "dots/.vim/bundle/vim-fugitive"]
	path = dots/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dots/.vim/bundle/molokai"]
	path = dots/.vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "dots/.vim/bundle/vim-powerline"]
	path = dots/.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "dots/.oh-my-zsh"]
	path = dots/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "dots/.vim/bundle/rainbow_parentheses"]
	path = dots/.vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "dots/.vim/bundle/nerdtree"]
	path = dots/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dots/.vim/bundle/vim-pantondoc"]
	path = dots/.vim/bundle/vim-pantondoc
	url = https://github.com/fmoralesc/vim-pantondoc
