.DS_Store?
*.pyc
*.swp
*.log
tags/
dots/.vim/.netrwhist
dots/.vim/tmp
dots/.vim/bundle

dots/.mpd/*
!dots/.mpd/mpd.conf

dots/.config/*
!dots/.config/awesome
!dots/.config/roxterm.sourceforge.net
!dots/.config/zathura

dots/.gconf/

dots/.sup/*
!dots/.sup/config.yaml
!dots/.sup/hooks

dots/.mlterm/challenge

.ycmlast
