.DS_Store
dots/.vim/.netrwhist
dots/.vim/tmp
*.pyc
*.swp
tags/
dots/.mpd/mpd.db
dots/.mpd/mpd.log
dots/.mpd/mpd.pid
dots/.mpd/mpdstate
dots/.mpd/music/*
dots/.mpd/playlists/*
dots/.mpd/sticker.sql
dots/.config/chromium
dots/.config/user-dirs.dirs
dots/.config/user-dirs.locale
