.DS_Store?
*.pyc
*.swp
*.log
tags/
dots/.vim/.netrwhist
dots/.vim/tmp

dots/.mpd/
!dots/.mpd/mpd.conf

dots/.config/
!dots/.config/awesome
!dots/.config/redshift.conf
!dots/.config/zathura

dots/.gconf/
dots/.offlineimaprc
